[submodule "src/vdp/userspace-vdp-gl"]
	path = src/vdp/userspace-vdp-gl
	url = https://github.com/tomm/userspace-vdp-gl.git
[submodule "sdcard"]
	path = sdcard
	url = https://github.com/tomm/popup-mos.git
[submodule "src/vdp/AgonElectronHAL"]
	path = src/vdp/AgonElectronHAL
	url = https://github.com/S0urceror/AgonElectronHAL.git
