[submodule "src/vdp/userspace-vdp-gl"]
	path = src/vdp/userspace-vdp-gl
	url = https://github.com/tomm/userspace-vdp-gl.git
[submodule "sdcard"]
	path = sdcard
	url = https://github.com/tomm/popup-mos.git
[submodule "src/vdp/vdp-console8"]
	path = src/vdp/vdp-console8
	url = https://github.com/tomm/agon-vdp
[submodule "src/vdp/vdp-quark"]
	path = src/vdp/vdp-quark
	url = https://github.com/tomm/agon-vdp
