[package]
name = "fab-agon-emulator"
version = "0.8.3"
edition = "2021"
authors = ["Tom Morton <tomm8086@gmail.com>"]
license = "GPL-3.0"
keywords = ["Agon Light", "Agon Console8", "emulator"]
homepage = "https://github.com/tomm/fab-agon-emulator"
repository = "https://github.com/tomm/fab-agon-emulator"

[dependencies]
sdl2 = "0.35.2"
pico-args = "0.5.0"
agon-cpu-emulator = { git = "https://github.com/tomm/agon-cpu-emulator.git", rev="cf8cdbc472d8e60352fb5a8500a9b3229ae038bb"}
agon-light-emulator-debugger = { git = "https://github.com/tomm/agon-light-emulator-debugger.git", rev="275880c9c567e13cc880d76bb0b3c7b145a0f5e4"}
libloading = "0.8.0"

#agon-cpu-emulator = { path = "../agon-cpu-emulator" }
#agon-light-emulator-debugger = { path = "../agon-light-emulator-debugger" }
